{% extends 'main/base.html' %}
{% load static %}
{% block title %}Config page{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'form_config/css/form_config.css' %}">
{% endblock %}

{% block content %}
    <div class="text">
        <h2> Выберите параметры для упражнений</h2>
        <form name="form" action="{% url 'ex_gesture_page' %}" method="POST" id="FormCreateConfig">
            {% csrf_token %}

            <h3>Выбор руки</h3>
            <div class="radio-blocks">
                <input type="radio" id="left" name="hands" value="Left" required>
                <label for="left">левая</label>
            </div>
            <div class="radio-blocks">
                <input type="radio" id="right" name="hands" value="Right" required>
                <label for="right">правая</label>
            </div>
            <div class="radio-blocks">
                <input type="radio" id="multi" name="hands" value="Multi" required>
                <label for="multi">обе руки</label>
            </div>

            <h3>Количество задействованных пальцев</h3>
            <div class="radio-blocks">
                <input type="radio" id="one" name="fingers" value="1" required>
                <label for="one">один</label>
            </div>
            <div class="radio-blocks">
                <input type="radio" id="two" name="fingers" value="2" required>
                <label for="two">два</label>
            </div>
            <div class="radio-blocks">
                <input type="radio" id="some" name="fingers" value="5" required>
                <label for="some">несколько/комбинированно</label>
            </div>

            <h3>Режим выполнения упражнения</h3>
            <div class="radio-blocks">
                <input type="radio" id="standard" name="mode" value="std" required>
                <label for="standard">стандарт(по порядку)</label>
            </div>
            <div class="radio-blocks">
                <input type="radio" id="random" name="mode" value="rnd" required>
                <label for="random">случайно</label>
            </div>

            <h3>Длительность занятия</h3>
            <div class="input">
                <input type="number" min="1" max="1000" name="exercises" required>
                <label>жест(-ов)</label>
            </div>
            <br>
<!--            <input type="submit" value="Subscribe!" />-->
            <input class="button-submit" onclick="window.location.href = {% url 'ex_gesture_page' %};" type="submit" value="Начать!" />
        </form>
        <script src="{% static 'form_config/js/index.js' %}"></script>
    </div>
{% endblock %}
