<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'main/img/logo.png' %}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">ТВОЯ <br> МОТОРИКА</span>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'homepage' %}">
                            <i class='bx bx-home-circle icon' ></i>
                            <span class="text nav-text">Главная страница</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'aboutpage' %}">
                            <i class='bx bxs-contact icon'></i>
                            <span class="text nav-text">Контакты</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="{% static 'main/js/script.js' %}"></script>

    <section class="home">
        {% block content %}
        {% endblock %}
    </section>

</body>
</html>