{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
    <link rel="stylesheet" href="{% static 'hand_gesture/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1>Hand Gesture Recognition</h1>
    <div id="container">
        <canvas id="canvas" width="640" height="480">
            <video id="video" width="640" height="480" autoplay></video>
        </canvas>
    </div>
    <p id="gesture"></p>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script src="{% static 'hand_gesture/js/script.js' %}"></script>

{% endblock %}
