{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hand Gesture Recognition</title>
<link rel="stylesheet" href="{% static 'hand_gesture/css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=mood" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=sentiment_neutral" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=mood_bad" />


<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="ex-list">
        <i class='bx bx-smile' id="mood-emoji"></i>
        <h2 id="header-timer">Упражнения на развитие моторики</h2>
        <p id="output"></p>
        <p id="nextval"></p>
        <div id="image-container"></div>
    </div>
    <div id="notification"></div>
    <div id="container">
        <canvas id="canvas" width="640" height="480">
            <video id="video" autoplay>
            </video>
        </canvas>
    </div>

   <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script src="{% static 'hand_gesture/js/script.js' %}"></script>
</div>
{% endblock %}
