body{
    background: #EAF4F4;
}

aside{
    float: left;
    background: #CCE3DE;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: #6B9080;
}

aside .logo{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

aside ul{
    list-style: none;
}

aside ul li{
    color: #6B9080;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: -25px;
    float: left;

    overflow: auto;
    transition: transform .6s
}

aside ul li:hover, aside ul a:hover{
    color: #4D6A6D;
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    color: #2D3047;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features p{
    max-width: 400px;
    margin: 20px auto;
}
